@use "base";

#mainStart {
    display: grid;
    justify-items: center;
}

#printedCourseSection{
    align-self: center;
    display: grid;
    justify-items: center;
}

#addNewCourseSection{
    display: grid;
    justify-items: center;
    align-self: start;
    background-color: base.$bgColorComplementHeader;
    width: 90%;
    padding-bottom: 30px;
    border-radius: 5px;
    color: base.$bgColor;
}

form {
    display: grid;
    gap: 10px;
    width: 90%;
   justify-items: center;
}

input:not(#submitBtn){
    width: 90%;
    height: 30px;
    border-radius: 5px;
}

#submitBtn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    background-color: #D4EBF8;
    border-radius: 5px;
    width: 50%;
}

#submitBtn:hover {
    opacity: 0.8;
    cursor: pointer;
}