@use "base";

#mainStart {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}

/*Div för felmeddelanden*/
#error {
    text-align: center;
}

#printedCourseSection{
    align-self: center;
    display: grid;
    justify-items: center;
    width: 90%;
}

#addNewCourseSection{
    display: grid;
    justify-items: center;
    align-self: start;
    background-color: base.$bgColorComplementHeader;
    width: 90%;
    padding-bottom: 30px;
    border-radius: 5px;
    color: base.$bgColor;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

form {
    display: grid;
    gap: 10px;
    width: 90%;
   justify-items: center;
}

input:not(#submitBtn){
    width: 90%;
    height: 30px;
    border-radius: 5px;
}

#submitBtn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    background-color: #D4EBF8;
    border-radius: 5px;
    width: 50%;
}

#submitBtn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*--Mobil-läge--*/
@media screen and (max-width: 600px) {
    body{
        font-size: 0.9rem;
    }

    h1:not(#logo){
        font-size: 1rem;
    }

    h2{
        font-size: 0.9rem;
    }

    form{
        width: 100%;
        padding: 0;
        
    }

    table{
         padding: 0;
        width: 100%;
        font-size: 12px;
    }

    #printedCourseSection{
        width: 100%;
    }
}